@import "../../index.less";

.recent-plays {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: calc(@title-bar-height + 20px);
    gap: 15px;
}

.recent-title-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.recent-title {
    margin-left: 25px;
    user-select: text;
    font-size: 30px;
    font-family: "GenEi M Gothic v2", sans-serif;
    color: var(--textColor);
}

.recent-row-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recent-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.recent-img {
    cursor: pointer;
    max-width: 16vw;
    height: auto;
    margin: 10px;
    &:active {
        filter: brightness(110%);
    }
}

.recent-square {
    max-width: 160px;
    height: auto;
    margin: 10px;
    opacity: 0;
}

.recent-img-yt {
    cursor: pointer;
    width: auto;
    max-height: 12vw;
    margin: 10px;
    &:active {
        filter: brightness(110%);
    }
}

.recent-page-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.recent-page-button {
    height: 25px;
    width: auto;
    color: var(--iconColor);
}